In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/Dummy data.csv')

In [5]:
df.loc[:, 'number'] = df.loc[:, 'number'] + 1

      id  number
0      0       2
1      1       3
2      2       4
3      3       5
4      4       6
..   ...     ...
96    96      98
97    97      99
98    98     100
99    99     101
100  100     102

[101 rows x 2 columns]

In [7]:
df.to_csv('submission.csv', index=False)

In [8]:
results_df = pd.read_csv('submission.csv')
results_df

      id  number
0      0       2
1      1       3
2      2       4
3      3       5
4      4       6
..   ...     ...
96    96      98
97    97      99
98    98     100
99    99     101
100  100     102

[101 rows x 2 columns]